In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import train_test_split
#feature Selection
from sklearn.feature_selection import SelectKBest , f_regression
#for Scaling 
from sklearn import preprocessing
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.metrics import r2_score,mean_squared_error

In [2]:
data=pd.read_csv(r'C:\Users\karim\Downloads\tmdb-movies (2) (1).csv')

In [6]:
data=data.drop(
    [
     'id',
     'overview',
     'imdb_id',
     'director',
     'keywords',
     'tagline',
     'homepage',
     'original_title',
     'release_date',
     ],
    axis=1
    )

In [7]:
data.head()

,popularity,cast,runtime,genres,production_companies,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,32.985763,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,5562,6.5,2015,137999939.3,1.392446e+09
1,28.419936,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,6185,7.1,2015,137999939.3,3.481613e+08
2,13.112507,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2480,6.3,2015,101199955.5,2.716190e+08
3,11.173104,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,5292,7.5,2015,183999919.0,1.902723e+09
4,9.335014,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2947,7.3,2015,174799923.1,1.385749e+09

In [8]:
print(data.isnull().sum().sort_values())

popularity                 0
runtime                    0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
genres                    23
cast                      76
production_companies    1030
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   popularity            10866 non-null  float64
 1   cast                  10790 non-null  object
 2   runtime               10866 non-null  int64
 3   genres                10843 non-null  object
 4   production_companies  9836 non-null   object
 5   vote_count            10866 non-null  int64
 6   vote_average          10866 non-null  float64
 7   release_year          10866 non-null  int64
 8   budget_adj            10866 non-null  float64
 9   revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 849.0+ KB

In [10]:
data=data.drop_duplicates()

In [11]:
data['profit']=data.revenue_adj-data.budget_adj

In [12]:
data=data.drop(
['revenue_adj','budget_adj'
],axis=1)

In [13]:
data.dropna(subset = ["production_companies"], inplace=True)

In [14]:
data.dropna(subset = ["cast"], inplace=True)

In [15]:
data.dropna(subset = ["genres"], inplace=True)

In [4]:
upper_tri = cor_matrix.where (np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
upper_tri

C:\Users\karim\AppData\Local\Temp\ipykernel_7104\3049963410.py:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_tri = cor_matrix.where (np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))

,id,popularity,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
id,NaN,0.01435,0.088360,0.035551,0.058363,0.511364,0.189015,0.138477
popularity,NaN,NaN,0.139033,0.800828,0.209511,0.089801,0.513550,0.609083
runtime,NaN,NaN,NaN,0.163278,0.156835,0.117204,0.221114,0.175676
vote_count,NaN,NaN,NaN,NaN,0.253823,0.107948,0.587051,0.707942
vote_average,NaN,NaN,NaN,NaN,NaN,0.117632,0.093039,0.193085
release_year,NaN,NaN,NaN,NaN,NaN,NaN,0.016793,0.066256
budget_adj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.646607
revenue_adj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cor_matrix  = data.corr().abs()
cor_matrix

,id,popularity,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
id,1.000000,0.014350,0.088360,0.035551,0.058363,0.511364,0.189015,0.138477
popularity,0.014350,1.000000,0.139033,0.800828,0.209511,0.089801,0.513550,0.609083
runtime,0.088360,0.139033,1.000000,0.163278,0.156835,0.117204,0.221114,0.175676
vote_count,0.035551,0.800828,0.163278,1.000000,0.253823,0.107948,0.587051,0.707942
vote_average,0.058363,0.209511,0.156835,0.253823,1.000000,0.117632,0.093039,0.193085
release_year,0.511364,0.089801,0.117204,0.107948,0.117632,1.000000,0.016793,0.066256
budget_adj,0.189015,0.513550,0.221114,0.587051,0.093039,0.016793,1.000000,0.646607
revenue_adj,0.138477,0.609083,0.175676,0.707942,0.193085,0.066256,0.646607,1.000000

In [5]:
to_drop =[column for column in upper_tri.columns if any(upper_tri[column])  >(0.5)]
to_drop

['id',
 'popularity',
 'runtime',
 'vote_count',
 'vote_average',
 'release_year',
 'budget_adj',
 'revenue_adj']

In [16]:
dumies1=data['genres'].str.get_dummies(sep="|")
data=data.drop(['genres'],axis=1)

In [17]:
dumies2=data['production_companies'].str.get_dummies(sep="|")
data=data.drop(['production_companies'],axis=1)

In [18]:
dumies3=data['cast'].str.get_dummies(sep="|")
data=data.drop(['cast'],axis=1)

In [19]:
data=pd.concat([data,dumies1],axis='columns')
data=pd.concat([data,dumies2],axis='columns')
data=pd.concat([data,dumies3],axis='columns')

In [20]:
x=data.drop(['profit'],axis=1)
y=data['profit']

In [21]:
data.describe()

,popularity,runtime,vote_count,vote_average,release_year,profit,Action,Adventure,Animation,Comedy,...,Ã‰lodie Navarre,Ã‰milie Dequenne,Ã‰ric Caravaca,Ã‰va IgÃ³,Ã€lex BrendemÃ¼hl,Ã€lex Monner,Äá»— Thá»‹ Háº£i Yáº¿n,Å arÅ«nas Bartas,à¸ªà¸£à¸žà¸‡à¸©à¹Œ à¸Šà¸²à¸•à¸£à¸µ,é‚±æ·‘è²ž
count,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9.791000e+03,9791.000000,9791.000000,9791.000000,9791.000000,...,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000,9791.000000
mean,0.693655,102.861812,238.886222,5.964988,2000.892759,3.756442e+07,0.228577,0.141763,0.063323,0.351037,...,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102
std,1.036216,27.944276,602.503591,0.913433,13.037008,1.313583e+08,0.419938,0.348825,0.243556,0.477319,...,0.010106,0.010106,0.010106,0.010106,0.010106,0.010106,0.010106,0.010106,0.010106,0.010106
min,0.000188,0.000000,10.000000,1.500000,1960.000000,-4.139124e+08,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.231604,90.000000,18.000000,5.400000,1994.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.419114,100.000000,46.000000,6.000000,2005.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.775201,112.000000,173.000000,6.600000,2011.000000,2.012071e+07,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,32.985763,877.000000,9767.000000,8.700000,2015.000000,2.750137e+09,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
scaler = preprocessing.MinMaxScaler()
names = data.columns
d= scaler.fit_transform(data)
scaled_df = pd.DataFrame(d, columns=names)
print(scaled_df.head())

   popularity   runtime  vote_count  vote_average  release_year    profit  \
0    1.000000  0.141391    0.569027      0.694444           1.0  0.527286
1    0.861581  0.136830    0.632879      0.777778           1.0  0.197239
2    0.397517  0.135690    0.253152      0.666667           1.0  0.184678
3    0.338721  0.155074    0.541355      0.833333           1.0  0.674021
4    0.282997  0.156214    0.301015      0.805556           1.0  0.513539

   Action  Adventure  Animation  Comedy  ...  Ã‰lodie Navarre  \
0     1.0        1.0        0.0     0.0  ...              0.0
1     1.0        1.0        0.0     0.0  ...              0.0
2     0.0        1.0        0.0     0.0  ...              0.0
3     1.0        1.0        0.0     0.0  ...              0.0
4     1.0        0.0        0.0     0.0  ...              0.0

   Ã‰milie Dequenne  Ã‰ric Caravaca  Ã‰va IgÃ³  Ã€lex BrendemÃ¼hl  \
0               0.0             0.0        0.0                0.0
1               0.0             0.0        0.0                0.0
2               0.0             0.0        0.0                0.0
3               0.0             0.0        0.0                0.0
4               0.0             0.0        0.0                0.0

   Ã€lex Monner  Äá»— Thá»‹ Háº£i Yáº¿n  Å arÅ«nas Bartas  \
0           0.0                     0.0               0.0
1           0.0                     0.0               0.0
2           0.0                     0.0               0.0
3           0.0                     0.0               0.0
4           0.0                     0.0               0.0

   à¸ªà¸£à¸žà¸‡à¸©à¹Œ à¸Šà¸²à¸•à¸£à¸µ  é‚±æ·‘è²ž
0                                 0.0        0.0
1                                 0.0        0.0
2                                 0.0        0.0
3                                 0.0        0.0
4                                 0.0        0.0

[5 rows x 25034 columns]

In [23]:
data.shape

(9791, 25034)

In [24]:
selector = SelectKBest(score_func = f_regression , k=17)
selector.fit(x,y)
cols = selector.get_support(indices = True)
x = x.iloc[:,cols]
print("Left Columns are :")
print(x.columns)

Left Columns are :
Index(['popularity', 'runtime', 'vote_count', 'vote_average', 'Adventure',
       'Amblin Entertainment', 'Eon Productions', 'Heyday Films',
       'Hoya Productions', 'Lightstorm Entertainment', 'Lucasfilm',
       'Twentieth Century Fox Film Corporation', 'Carrie Fisher',
       'Daisy Ridley', 'Emma Watson', 'Robert MacNaughton', 'Rupert Grint'],
      dtype='object')

In [403]:
x_train,x_test,y_train,y_test=train_test_split(x , y,test_size=.30)

In [404]:
model = LinearRegression().fit(x_train, y_train)

In [405]:
print(model.score(x_train, y_train))

0.5446123665559823

In [406]:
print(model.score(x_test, y_test))

0.5117154127603014

In [354]:
poly = PolynomialFeatures(degree=3, include_bias=False)

In [221]:
X_poly = poly.fit_transform(x)

In [222]:
lin_reg2 = LinearRegression()
lin_reg2.fit(X_poly,y)

LinearRegression()

In [223]:
lin_reg2.score(X_poly,y)

0.639732657960685

In [111]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=0).fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.6977592450409685
0.5466104483767549

In [112]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=0).fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9272927006829369
0.5473476288559629

In [ ]:
#data.info()